html{
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{align-items: center;
    background-color: #0205bd;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}


.wrapper{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: #070707;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(6, 218, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    flex-basis: 400px;
    padding: 20px 35px;
    height: 540px;
}

.screen{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: #008cff;
    border: 1px solid rgba(140, 0, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #070707;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc-buttons-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(6, 218, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #070707;
    flex-basis: 20%;
    font-family: inherit;    
    font-size: 50px;
    height: 65px;
}

.calc-button:last-child{
 backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(253, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #fffefe;
    background-color: #008cff;
}

.calc-button:last-child:hover{
    background-color: inherit;
    color: inherit;
}.calc-button:hover{
    background-color: inherit;
    
}
.calc-button:active{
    background-color: rgb(255, 255, 255);
    
}

.double{
    flex-basis: 47%;
}

.triple{
    flex-basis: 73%;
}




